<div class="home">
  <div class="home-title slide-left">
    <h1>SANBOX HOME PAGE</h1>
  </div>

  <div class="home-content slide-top">
    <p>
      The Sandbox application is a training platform to test angular features
      and improve web development skills.
    </p>

    <p>
      There are several pages to test some usual features like "Employee" page
      for API calls.
    </p>

    <p>
      This application will evolve over the time by adding some new fancy
      features and try greate CSS tricks !
    </p>

    <p>
      It uses Angular Material for theming and components styles and makes CRUD
      operations with a Spring Boot backend.
    </p>

    <p>
      It is also useful for real work project purpose such as Angular version
      migrations and so on...
    </p>
    <p>Feel free to play with the app and analyse the code</p>
  </div>
</div>
